body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins";
  min-height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/Library.avif);
}

html {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: header;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.wrapper .menu-icon {
  font-size: 28px;
  color: #fff;
  padding: 5px 12px;
  cursor: pointer;
}
.wrapper .red {
  color: red;
}
.wrapper .title {
  color: #fff;
  font-family: "poppins";
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 5px 12px;
}
.wrapper .title .book-icon {
  vertical-align: middle;
}

@keyframes header {
  from {
    opacity: 0%;
    display: none;
  }
  to {
    opacity: 100%;
    display: flex;
  }
}
.father {
  background-repeat: no-repeat;
  background-size: cover;
}

.article-wrapper {
  margin: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.article-wrapper .image {
  width: 180px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgb(122, 62, 62);
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
}
.article-wrapper .image:hover {
  transform: scale(1.1);
}
.article-wrapper .title, .article-wrapper .Author {
  text-transform: uppercase;
}
.article-wrapper .title {
  font-size: 12px;
}
.article-wrapper .Author {
  font-weight: 100;
  font-size: 15px;
  margin-top: -8px;
}
.article-wrapper .stars-container {
  color: goldenrod;
  margin-top: -8px;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  animation-name: wrapper;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes wrapper {
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
ul {
  padding: 12px;
  display: flex;
}
ul:focus {
  color: rgb(122, 62, 62);
}
ul li {
  list-style: none;
  margin: 5px;
}
ul li:hover, ul li:focus {
  color: red;
  transition: 0.3s all ease-out;
}

.book-icon {
  color: red;
}

.half-width {
  background: black;
  width: 0px;
  animation-name: menu;
  animation-duration: 0.65s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.half-width .unordered {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full {
  background-color: none;
}
.full .ordered {
  display: flex;
}

@keyframes menu {
  from {
    width: 0px;
    height: 220px;
  }
  to {
    width: 200px;
    height: 220px;
  }
}
.sub-list {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.sub-list:focus {
  color: rgb(122, 62, 62);
}

footer {
  top: 100%;
  bottom: 0;
  width: 100vw;
}

.footer-container {
  height: 250px;
  background-color: black;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container .para-1, .footer-container .para-2 {
  font-weight: 100;
  font-size: 20px;
}

.follow-icons {
  margin: 0px 5px;
  color: #fff;
  font-size: 22px;
}

@media screen and (min-width: 320px) {
  .footer-container {
    padding: 0 15px;
    text-align: center;
  }
  .footer-container .para-1, .footer-container .para-2 {
    font-size: 16px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
    gap: 0.2rem;
    align-items: center;
  }
  .wrapper .title {
    font-size: 18px;
    margin: 15px;
    padding: 8px;
  }
  .menu-icon {
    padding: 12px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 568px) {
  .article-wrapper .image {
    width: 160px;
    height: 240px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    margin: 1rem auto;
    gap: 0.8rem;
    padding-bottom: 6rem;
  }
  .wrapper {
    padding: 0 18px;
  }
  .wrapper .title {
    font-size: 11px;
  }
  ul li {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .article-wrapper img {
    width: 150px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper {
    margin: 5px 2rem;
    padding: 0 12px;
    align-items: center;
  }
  .wrapper .title {
    font-size: 16px;
  }
  .wrapper ul {
    margin-right: -5px;
  }
  .wrapper ul li {
    font-size: 12px;
    margin-left: 12px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    margin: 1rem auto;
    gap: 0.2rem;
    padding-bottom: 6rem;
  }
  .wrapper .menu-icon {
    font-size: 28px;
    color: #fff;
    padding: 5px 12px;
  }
  ul {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .article-wrapper .image {
    width: 200px;
    height: 290px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    margin: 1.5rem 0;
    gap: 0.2rem;
  }
  .wrapper {
    margin: 5px 2rem;
    padding: 0 12px;
    align-items: center;
  }
  .wrapper .title {
    font-size: 22px;
  }
  .wrapper ul li {
    font-size: 16px;
    margin-left: 12px;
  }
  .wrapper ul li:-moz-any-link {
    color: blue;
  }
  .wrapper ul li:focus, .wrapper ul li:any-link, .wrapper ul li:focus-visible, .wrapper ul li:active {
    color: blue;
  }
}/*# sourceMappingURL=index.css.map */